@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: PoppinsRegular;
  src: url(../resources/poppins.regular.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../resources/poppins.light.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(../resources/poppins.semibold.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.artdeco1 {
  background-image: url(../resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  height: 74px;
}

.dflex {
  display: flex;
  justify-content: center;
}

.dflex2 {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dflex3 {
  display: flex;
  justify-content: flex-end;
}

.margRight {
  margin-right: 18px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.burger {
  height: 14px;
  margin-top: 15px;
  margin-right: 15px;
}

.textdeco1 {
  color: #1a2236;
  line-height: 100%;
  margin-top: 19px;
  margin-left: 16px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.textdeco1:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.textdeco2 {
  color: #1a2236;
  margin-top: 35px;
  margin-left: 16px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.textdeco3 {
  color: #1a2236;
  margin-top: 40px;
  margin-left: 16px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.text1width {
  width: 220px;
}

.width90 {
  width: 90%;
}

.width65 {
  width: 65%;
}

.button1 {
  border-color: white;
  font-family: PoppinsRegular, sans-serif;
  font-size: 16px;
  margin-left: 16px;
  height: 50px;
  background: #1a2236;
  color: white;
  margin-bottom: 17px;
  border-width: 1px 1px 1px 1px;
  animation: button1Animation 3s;
}

.button1:hover {
  color: #1a2236;
  background: white;
  border-color: #1a2236;
}

.button1:active {
  color: #1a2236;
  background: white;
  border-width: 2px 2px 2px 2px;
  border-color: #1a2236;
}

@keyframes button1Animation {
  50% {
    transform: scale(1.04);
    box-shadow: 10px 10px #1a22362d;
  }
}

.centerSection {
  margin-bottom: 10px;
}

.crazyParagraph {
  color: #1a2236;
  width: 90%;
  height: 80px;
  margin-top: 21px;
  margin-left: 16px;
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.middleDeco {
  background-image: url(../resources/image_geometry_2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-top: 50%;
}

.greenul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 27px;
}

.greenli {
  font-size: 14px;
  color: #1a2236;
  border: 1px solid #98dede;
  background-color: #98dede;
  margin-right: 15px;
  padding: 5px 12px;
  font-family: PoppinsLight, sans-serif;
}

.fullWidth {
  margin-top: -2px;
  margin-bottom: -6px;
  width: 100%;
}

.blueBox {
  background: #1a2236;
  display: grid;
  justify-items: flex-start;
  width: 100%;
}

.projectName {
  font-family: PoppinsLight, sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 12px;
  background-color: #1a2236;
}

.paragraph1 {
  color: #1a2236;
  height: 80px;
  margin-top: 21px;
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 90%;
  padding-bottom: 38px;
}

.buttonMargin1 {
  margin-top: 20px;
  margin-left: 26px;
}

.PoppinsRegular {
  font-family: PoppinsRegular, sans-serif;
}

.PoppinsLight {
  font-family: PoppinsLight, sans-serif;
}

.PoppinsSemiBold {
  font-family: PoppinsSemiBold, sans-serif;
}

.blueRectangle {
  background-color: #064c8a;
  height: 289px;
  position: relative;
  color: white;
  margin-bottom: 15px;
}

.redRectangle {
  background-color: #e2505c;
  height: 289px;
  position: relative;
  color: white;
  margin-bottom: 27px;
}

.yellowRectangle {
  background-color: #ffc04f;
  height: 289px;
  position: relative;
  color: white;
  margin-bottom: 12px;
  margin-top: -12px;
}

.marginleft17 {
  margin-left: 17px;
}

.poundsign {
  background-image: url(../resources/pound.svg);
  background-repeat: no-repeat;
  padding-bottom: 102px;
  position: absolute;
  top: 187px;
  z-index: 999;
  width: 102px;
  right: 0;
}

.squaresign {
  background-image: url(../resources/Group18.png);
  background-repeat: no-repeat;
  padding-bottom: 102px;
  position: absolute;
  top: 194px;
  right: 0;
  z-index: 999;
  width: 96px;
}

.lightbulb {
  background-image: url(../resources/ic_skills.svg);
  background-repeat: no-repeat;
  padding-bottom: 102px;
  position: absolute;
  right: 0;
  top: 187px;
  z-index: 999;
  width: 102px;
}

.margTop1 {
  margin-top: 31px;
}

.margTop2 {
  margin-top: 17px;
}

footer ul {
  list-style: none;
}

.rectangleText {
  position: absolute;
  top: 23%;
  left: 20%;
}

.rectangleText ul {
  margin-left: 14px;
}

.rectangleText h2 {
  margin-bottom: 10px;
}

.margBottom {
  margin-bottom: 21px;
}

.dgrid {
  display: grid;
}

.bigaboutli {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 10px;
  position: relative;
  right: 15px;
}

.blueBox2 {
  background: #1a2236;
  display: grid;
  justify-content: space-between;
  color: #92dcdc;
  width: 100%;
}

.awhite {
  color: white;
  margin-right: 30px;
}

.getstarted {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background: #f9f9fa;
}

.getstartedLabel {
  color: #1a2236;
  line-height: 100%;
  margin-top: 79px;
  margin-left: 16px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin-bottom: 19.3px;
  font-weight: normal;
}

.bottomDeco {
  background-image: url(../resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 77px;
  width: 115px;
  left: 2px;
  position: absolute;
}

.desktopnav ul {
  display: flex;
  list-style: none;
}

.getstarted ul {
  list-style: none;
  padding-left: 0;
}

.getstarted form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomParagraph {
  margin-left: 16px;
  line-height: 21px;
  font-family: PoppinsRegular, sans-serif;
  margin-bottom: 16px;
}

.width288 {
  width: 288px;
}

input {
  width: 330px;
  height: 52px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  width: 330px;
  height: 112px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-bottom: 20px;
}

.crazylabel {
  color: #4a4a4a;
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 11px;
}

.posrev {
  position: relative;
}

.formBox2-label {
  display: none;
}

.coolarrow {
  margin-left: 10px;
  font-size: 23px;
}

.socialmediaFontsize {
  font-size: 25px;
}

.desktopnav {
  visibility: hidden;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  display: flex;
  justify-content: center;
}

.desktopnav ul li {
  margin-right: 30px;
}

.stickimg {
  position: absolute;
  margin-top: 23px;
}

.artdeco2 {
  visibility: hidden;
}

.dottedDeco {
  background-image: url(../resources/image_dots.png);
  background-repeat: no-repeat;
  height: 175px;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .artdeco1 {
    visibility: hidden;
  }

  .desktopnav {
    visibility: visible;
    padding-bottom: 17px;
  }

  .header1 {
    margin-top: -52px;
  }

  .artdeco2 {
    background-image: url(../resources/Thur.png);
    background-repeat: no-repeat;
    padding-bottom: 164px;
    height: 877.09px;
    visibility: visible;
    position: relative;
    width: 702px;
  }

  .textdeco1 {
    font-size: 110px;
  }

  .centerSection {
    margin-top: 188px;
  }

  .middleDeco {
    display: none;
  }

  .dottedDeco {
    visibility: visible;
  }

  .aboutSection {
    display: flex;
    flex-direction: row-reverse;
  }

  .blueRectangle {
    width: 289px;
  }

  .redRectangle {
    width: 289px;
  }

  .yellowRectangle {
    width: 289px;
  }

  .dispNone {
    display: none;
  }

  .getstartedLabel {
    font-size: 110px;
    font-weight: bold;
  }
}
